<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ning.springcloud.cloud.mapper.PaymentDao">
    <sql id="PaymentSelect">
        SELECT `id`,
            serials,
            orderNo,
            submitterId,
            orderType,
            orderStatus,
            paymentType,
            paymentAttachment,
            receiverId,
            reviewerId,
            orderAmount,
            createTime,
            updateTime
        FROM `nicholas-cloud`.`payment`
    </sql>
    <insert id="create" parameterType="com.ning.springcloud.api.dto.Payment" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO `nicholas-cloud`.`payment`
        (
        `serials`,
        `orderNo`,
        `submitterId`,
        `orderType`,
        `orderStatus`,
        `paymentType`,
        `paymentAttachment`,
        `receiverId`,
        `reviewerId`,
        `orderAmount`,
        `createTime`,
        `updateTime`
        )
        VALUES (
        #{serials},
        #{orderNo},
        #{submitterId},
        #{orderType},
        #{orderStatus},
        #{paymentType},
        #{paymentAttachment},
        #{receiverId},
        #{reviewerId},
        #{orderAmount},
        #{createTime},
        #{updateTime}
        );
    </insert>

    <resultMap id="BaseResultMap" type="com.ning.springcloud.api.dto.Payment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="serials" property="serials" jdbcType="VARCHAR"/>
        <id column="orderNo" property="orderNo" jdbcType="VARCHAR"/>
        <id column="submitterId" property="submitterId" jdbcType="BIGINT"/>
        <id column="orderType" property="orderType" jdbcType="INTEGER"/>
        <id column="orderStatus" property="orderStatus" jdbcType="INTEGER"/>
        <id column="paymentType" property="paymentType" jdbcType="INTEGER"/>
        <id column="paymentAttachment" property="paymentAttachment" jdbcType="VARCHAR"/>
        <id column="receiverId" property="receiverId" jdbcType="BIGINT"/>
        <id column="reviewerId" property="reviewerId" jdbcType="BIGINT"/>
        <id column="orderAmount" property="orderAmount" jdbcType="BIGINT"/>
        <id column="createTime" property="createTime" jdbcType="BIGINT"/>
        <id column="updateTime" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>

    <select id="getPaymentById" resultType="com.ning.springcloud.api.dto.Payment" resultMap="BaseResultMap">
        <include refid="PaymentSelect"/>
        WHERE id = #{id}
    </select>

    <select id="getPaymentByOrderNo" resultType="com.ning.springcloud.api.dto.Payment" resultMap="BaseResultMap">
        <include refid="PaymentSelect"/>
        WHERE orderNo = #{orderNo}
    </select>
</mapper>